div.bg-dark {
  background-color: rgb(54, 54, 54);
}

.text-white {
  color: white;
}

.shopping-cart {
  position: fixed;
  right: 10px;
  top: 0;
}

.custom-image {
  width: 100%;
  aspect-ratio: 1/1;
}